*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(16, 191, 255);
}
.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgb(42, 42, 42);
    border-bottom: 2px solid #15fe00;
    box-shadow: 0 4px 15px rgba(0, 254, 0, 0.571);
}
.logo{
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(to right, #00e9fe,#9500f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
